@import "~antd/dist/antd.css";

.App {
  text-align: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 100vh;
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.afterSelect {
  text-align: center;
  margin-top: 135px;
}

.connections {
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  background-color: #1890ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  &:hover {
    background-color: #4faaff;
  }
}

h1 {
  padding: 30px 30px;
}
